*.aux
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.toc
*.bbl
*.bcf
*.blg
*.run.xml
*.synctex.gz
*.nav
*.snm
*.xdv
*.vrb
.vscode/*
groundtruth.json
valid_encounters_maxRange700_maxGap3_minEncLen30.json